@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro");

a img {
  border: none;
}

body {
  background-image: url("../img/background.png");
}

.name {
  margin-top: 0;
  font-size: 100px;
  font-family: 'Source Sans Pro', sans-serif;
}
@media only screen and (max-width: 768px) {
  .name {
    font-size: 100px;
  }
}

.description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  width: 500px;
  position: relative;
  margin-top: 0px auto;
  overflow: hidden;
  top: -120px;
}

.special {
  position: relative;
  top: -80px;
}

.icons {
  width: 500px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: auto;
  border-top: 1px dotted #ccc;
  padding-top: 10px;
  top: -40px; 
}
.icons a {
  text-decoration: none;
  margin-left: 15px;
}
.icons a img {
  width: 40px;
  height: 40px;
}

.content {
  width: 500px;
  margin: 10px auto;
  overflow: hidden;
}

.main-content {
  float: left;
  width: 300px;
}

p {
  line-height: 1.8;
}

polygon {
    fill:#f00 !important;
}
